<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Admin" value="Yes" />
		<add key="Key" value="B9A183426A2E4858B690EB252BE9DC74" />
		<add key="Conf" value="server.json" />
		<add key="Excel" value="excel.json" />
		<add key="DB" value="data.db3" />
		<add key="Connection" value="data source={0};version=3;pooling=True;page size=4096;cache size=8192;datetimekind=Local;datetimeformat=CurrentCulture;journal mode=Memory;legacy format=False;cache=shared" />
		<add key="Provider" value="SQLite" />
	</appSettings>
  <runtime/>
 
</configuration>
